@media screen and (min-width: 790px) {
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
  }
  .about-img {
    width: 50dvw;
  }
}

@media screen and (max-width: 790px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-img {
    width: 50dvw;
  }
}

