.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.project-main {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid green;
  justify-content: center;
  flex-direction: column;
}