.dot {
width: 50%;
}

.project-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid green;
  justify-content: space-around;
}

/* .one {
  width: 50%;
  border: 1px solid yellow;
}*/
.project-text {
  width: 50%;
  border: 1px solid pink;
} 