/* .TestTabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #8D1C38;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
} */

.Tabs {
  height: 100%;
  padding-bottom: 2rem;
}

/* Tab Navigation */
ul.nav {
  width: 60%;
  color: white;
  margin: 2rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #8d1c38;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-family: "azo-sans-uber", sans-serif;
  font-weight: 400;
  font-size: 2dvw;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

ul.nav li:first-child {
  border-top-left-radius: 2rem;
}

ul.nav li:last-child {
  border-top-right-radius: 2rem;
}

ul.nav li:hover {
  background: rgba(165, 14, 112, 0.301);
}

ul.nav li.active {
  background: #8d1c38;
}

/* Tab Content Styles */
.TabContent {
  font-size: 2rem;
  text-align: center;
}

.outlet {
  background-color: #8d1c38;
  border: 1px solid #8d1c38;
  width: 60%;
  margin: auto;
  padding-bottom: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.project-logo {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
}

.FirstTab,
.SecondTab,
.ThirdTab {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .FirstTab,
  .SecondTab,
  .ThirdTab {
    padding: 2rem 2rem 0 2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .FirstTab,
  .SecondTab,
  .ThirdTab {
    padding: 1rem 1rem 0 1rem;
    font-size: .75rem;
  }
}

.project-img {
  width: 90%;
}

.links {
  border: 1px solid white;
  border-radius: 2rem;
  padding: 1rem 0;
  background-color: #f2c2c6;
}

.link-text {
  color: #8d1c38;
  text-decoration: none;
}

.links :hover {
  color: #674675;
}

.projects-link {
  color: #f2c2c6;
  text-decoration: none;
}

.projects-link-hover :hover {
  color: #674675;
}

.line {
  border-bottom: 2px dotted #f2c2c6;
  margin: 2rem auto;
  width: 30%;
}

.logos {
  width: 2rem;
}

.all-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #f2c2c6;
  border: 1px solid black;
  width: 70%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: .75rem;
  border-radius: 2rem;
}

.built-with {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75rem;
}